<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProfile name="!local">
		<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
			<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
				<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
					<marker>TEAM_LOGS</marker>
				</evaluator>
				<OnMatch>DENY</OnMatch>
				<OnMismatch>ACCEPT</OnMismatch>
			</filter>
		</appender>

		<appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>team-logs.nais-system:5170</destination>
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
				<includeContext>false</includeContext>
			</encoder>
			<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
				<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
					<marker>TEAM_LOGS</marker>
				</evaluator>
				<OnMatch>ACCEPT</OnMatch>
				<OnMismatch>DENY</OnMismatch>
			</filter>
		</appender>
		<logger name="team-logs-logger" level="INFO" additivity="false">
			<appender-ref ref="team-logs" />
		</logger>

		<logger name="org.apache" level="${log.level.org.apache:-INFO}"/>
		<logger name="org.apache.kafka" level="${log.level.org.apache.kafka:-INFO}"/>
		<logger name="ch.qos.logback" level="${log.level.ch.qos.logback:-INFO}"/>
		<logger name="org.springframework" level="${log.level.org.springframework:-INFO}"/>

		<logger name="io" level="INFO"/>
		<logger name="org" level="INFO"/>
		<logger name="com" level="INFO"/>
		<logger name="no.nav" level="INFO"/>
		<logger name="no.nav.soknad.arkivering" level="DEBUG"/>

		<root level="INFO">
			<appender-ref ref="STDOUT_JSON"/>
			<appender-ref ref="team-logs" />
		</root>
	</springProfile>

	<springProfile name="local">
		<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>
					%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(:) %m%n
				</pattern>
			</layout>
		</appender>

		<root level="INFO">
			<appender-ref ref="STDOUT_JSON"/>
		</root>
	</springProfile>
</configuration>
