name: Run end-to-end-tests on pull-requests

on:
  pull_request:

jobs:
  run-end-to-end-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: 'Build the code for arkiv-mock'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: arkiv-mock

      - name: 'Build the code for soknadsmottaker'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: soknadsmottaker

      - name: 'Build the code for innsending-api'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: innsending-api
          branch: tech/endtoend # TODO switch to main when other PR is merged

      - name: 'Build the code for soknadsarkiverer (this PR)'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: soknadsarkiverer
          branch: ${GITHUB_HEAD_REF} # Branch of current PR

      - name: 'Run the end-to-end-tests'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: archiving-infrastructure
          branch: fjern-soknadsfillager # TODO switch to main when other PR is merged
          sub_directory: system-tests
          skip_tests: false
          run_docker_build: false
